@import "./base.scss";
@import "./variables.scss";

body {
  // background-color: $cultured;
  font-family: "Open Sans";
  font-size: 16px;
}

.container {
  width: 375px;
  height: 100%;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.max-w-sm {
  max-width: 24rem;
}

.rounded {
  border-radius: 0.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.shadow {
  box-shadow: 0 8px 10px 0px rgba(10, 31, 68, 0.1);
  -webkit-box-shadow: 0 8px 10px 0px rgba(10, 31, 68, 0.1);
  -moz-box-shadow: 0 8px 10px 0px rgba(10, 31, 68, 0.1);
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 16px;
}

.m-4 {
  margin: 24px;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.inline-block {
  display: inline-block;
}

.is-flex {
  display: flex;
}

.is-item-center {
  align-items: center;
}

.text-sm {
  font-size: 8px;
  line-height: inherit;
}

.text-md {
  font-size: 12px;
  line-height: inherit;
}

.text-lg {
  font-size: 14px;
  line-height: inherit;
}

.text-xl {
  font-size: 16px;
  line-height: inherit;
}

.text-2xl {
  font-size: 20px;
  line-height: inherit;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-4 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-5 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-6 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-5 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-6 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mt-4 {
  margin-top: 24px;
}

.mt-5 {
  margin-top: 32px;
}

.mt-6 {
  margin-top: 40px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 16px;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 16px;
}
.color-tart-orange {
  color: $tart-orange;
}

.color-sweet-brown {
  color: $sweet-brown;
}

.color-charcoal {
  color: $charcoal;
}

.color-sonic-silver {
  color: $sonic-silver;
}

.color-platinum {
  color: $platinum;
}

.color-cultured {
  color: $cultured;
}

.bg-cultured {
  background-color: $cultured;
}

.is-btn {
  cursor: pointer;
}

.is-right {
  float: right;
}

.MuiDrawer-paperAnchorBottom {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.is-border-bottom {
  border-bottom: 1px solid rgba(66, 71, 73, 0.1);
}

.p-0 {
  padding: 0 !important;
}

.is-content-center {
  justify-content: center;
}
